h1 {
	color: black;
	text-align: center;
}
p {
	color: white;
	font-size: 18px;
}
body {
	background-image:	url('sky.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
a {
	color: white;
	background-color: #007BFF;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
}
a:hover {
	background-color: #0056b3;
}
